
body{
    background-color: rgb(70, 37, 37);
    color: rgb(1, 6, 11);
}

main{
    display: flex;
    flex-direction: column;
}
button{
    width: 15vw;
    height: 20vh;
    font-size:3rem;
    
}

.conteneur{
    
    margin: auto;
}

.messageJoueur,p{
    margin: auto;
    font-size: 2.5rem;
}